{% extends 'admin/event/base.html.twig' %}

{% block form_content %}

    <div class="card">
        <div class="card-body">
            <span class="fas fa-info-circle fa-fw me-1 text-primary"></span>
            Vous utilisez la vue <strong class="text-primary">Gestionnaire</strong>.
            Basculez sur une vue <strong class="text-primary">Expéditeur</strong>
            pour afficher ses contacts.
        </div>
    </div>

{% endblock %}