{% extends 'admin/event/base.html.twig' %}

{% block content %}
<div class="text-center">
    <div class="card">
        <div class="card-header text-primary fw-bold display-4 d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-qrcode me-2"></i> Scanner QR Code
            </div>
            <div>
                <a href="{{ path('app_event_resume', {id: event.id})}}">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                    <span class="sr-only">Retour à l'événement</span>
                </a>
            </div>
        </div>
        <div id="video-container" class="mt-4 mb-4">
            <video id="qr-video" width="350" height="300"></video>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/qr-scanner/1.4.1/qr-scanner.umd.min.js" integrity="sha512-mYO01Qm0yrTsxiYhoHCHFDGjUvsHjfO3SpdTM00DZZNGtmfu7I/3AsgXTxuM+trh3zJUv5HazuoxAZH+a/8nqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module">
    const video = document.getElementById('qr-video');
    const videoContainer = document.getElementById('video-container');

    function setResult(result) {
        $.ajax({
            url: result.data,
            type: "GET",
            dataType: 'json',
            contentType: "application/json",
            data: {},
            success: function (data) {
                alert(data);
                scanner.start();
            }
        });
        scanner.stop();
    }

    // ####### Web Cam Scanning #######
    const scanner = new QrScanner(video, result => setResult(result), {
        highlightScanRegion: true,
        highlightCodeOutline: true,
    });

     scanner.start().then(() => {
         QrScanner.listCameras(true).then(cameras => cameras.forEach(camera => {
             const option = document.createElement('option');
             option.value = camera.id;
             option.text = camera.label;
         }));
     });

</script>
{% endblock %}
