{% extends 'admin/event/base.html.twig' %}

{% block form_content %}
    <div class="card shadow mb-2">
        <div class="card-body">
        {{ form_row(form.name) }}
        </div>
    </div>
{% endblock %}